{% extends "base.html" %}

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}

{% block content %}
<h1 class="my-4">
  {% translate "Sing in" %}
</h1>
<form method="post">
  <input type="hidden" name="csrfmiddlewaretoken" value="LNXHAJp8uWFXDybRFwCqGwTkNUeRQSFCx8AAq2AcIs3CvH4kcfxAUbioebe7MOxa">
  <div class="form-group"><label for="id_username">{% translate "Username" %}</label><input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" class="form-control" placeholder='{% translate "Username" %}' title="" required="" id="id_username"></div>
<div class="form-group"><label for="id_password">{% translate "Password" %}</label><input type="password" name="password" autocomplete="current-password" class="form-control" placeholder='{% translate "Password" %}' title="" required="" id="id_password"></div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value='{% translate "Enter" %}'>
  </div>
</form>
{% endblock content %}

