{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load i18n %}

<html>
  <head>
    <title>{% translate "Task manager" %} Hexlet</title>
  </head>

  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
      <a class="navbar-brand" href="/">{% translate "Task manager" %}</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/users">{% translate "Users" %}</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/statuses">{% translate "Statuses" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/labels">{% translate "Labels" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/tasks">{% translate "Tasks" %}</a>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">{% translate "Logout" %}</a>
          </li>
          {% else %}  
          <li class="nav-item">
            <a class="nav-link" href="/login">{% translate "Sing in" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/create">{% translate "Registration" %}</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container wrapper flex-grow-1">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <div class="container my-5 pt-4 border-top">
        <a target="_blank" href="https://ru.hexlet.io">Hexlet</a>
      </div>
    </footer>
  </body>
</html>




<!-- для логаута: 
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="close">×</button>
  Вы разлогинены
</div> -->


