{% extends "base.html" %}

{% load bootstrap4 %}
{% bootstrap_messages %}
{% load i18n %}

{% block content %}
<div class="container wrapper flex-grow-1">
  <div class="card">
    <div class="card-body p-5 bg-light mt-5 pt-4 pb-16">
      <form method="post">
        {% csrf_token %}
        <h1 class="my-4">{{ title }}</h1>
        <p>{% translate "Are you sure you want to delete" %} {{ user.username }}?</p>
        <button class="btn-danger" type="submit">Так точно!</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}